.span-5.clear.sidebar {margin:0;padding-right:10px;margin-left:-10px;}
.featured {margin-left:-25px;background:none;}
.span-12.last {width:460px;}
.sidebar2 {width:260px;	margin-left: -10px;}
.sidebar-2, .sidebar-3 { width:115px;}
h1 {margin:0;}
#rss {display:none;}
#nav {width:800px;margin:0;}
.span-24.first {height: 130px;}
.description {margin:0; padding-bottom:0;}
.entry-floor {width: 450px;}
#share {width:100px;float:right;}
.related ol, .related p {width:220px;margin:0px;}
